@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: rgba(240, 252, 255, 0.945);
} */

.bg-image {
    background-image: url('./image/bg2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden; /* Prevents scrollbars */
  }
  